.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Mazes.iml
.idea/misc.xml
.idea/modules.xml
__pycache__/maze_generator.cpython-39.pyc
__pycache__/maze_solver.cpython-39.pyc
.idea/vcs.xml
